* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'montserrat', sans-serif;
    background-image: url('./assets/bg.jpg');
    background-size: cover;
}

.app-wrap {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 50px 15px 15px;
}

header input {
    width: 75%;
    max-width: 280px;
    padding: 10px 15px;
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 45px;
    border-top: 3px solid #8b9ed4;
    border-bottom: 3px solid #63a1be;

    color: #313131;
    font-size: 20px;
    font-weight: 300;
    transition: 0.2s ease-out;
}

button {
    width: 50%;
    max-width: 100px;
    padding: 10px 15px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 45px;
    border-top: 3px solid #8b9ed4;
    border-bottom: 3px solid #63a1be;
    border-left: 3px solid #8b9ed4;
    border-right: 3px solid #63a1be;
    outline: none;
    font-size: 20px;
}

header input:focus {
    background-color: rgba(255, 255, 255, 0.6);
}

main {
    flex: 1 1 100%;
    padding: 25px 25px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.location .city {
    color: #FFF;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 5px;
}

.current .temp {
    color: #FFF;
    font-size: 52px;
    font-weight: 900;
    margin: 30px 0px;
    text-shadow: 2px 10px rgba(0, 0, 0, 0.6);
}

.current .temp span {
    font-weight: 500;
}

.current .condition {
    height: 25vh;
}

img{
    width: 100px;
    height: 100px;
}
.current .weather {
    color: #FFF;
    font-size: 32px;
    font-weight: 700;
    font-style: italic;
    margin-bottom: 15px;
    text-shadow: 0px 3px rgba(0, 0, 0, 0.4);
}

.current .high {
    color: #FFF;
    font-size: 24px;
    font-weight: 500;
    text-shadow: 0px 4px rgba(0, 0, 0, 0.4);
}
